@page
@model IndexModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "BMIform";
}
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validationunobtrusive/jquery.validate.unobtrusive.min.js"></script>


<form method="post">
    >
    <div class="text-center">
        <h1 class="display-4">Welcome to BMI calculator</h1>
        <label for="fname">First name:</label>

        <input type="text" asp-for="user.fname" id="fname" name="fname" maxlength="12" pattern="[A-Za-z]{1,12}">
        <br />
        <label for="lname">Last name:</label>
        <input type="text" asp-for="user.lname" id="lname" name="lname" required pattern="[A-Za-z]{1,99}">
        <br>
        <label for="age">Age:</label>
        <input type="number" asp-for="user.age" id="age" name="age" min="1" max="120" pattern="[1-120]">
        <br>
        Gender:
        <label><input type="radio" name="Male"> Male</label>
        <label><input type="radio" name="Female"> Female</label>
        <label><input type="radio" name="Other"> Other</label>
        <br />
        <label for="mail">Mail:</label>
        <input type="email" asp-for="user.mail" id="mail" name="mail" required>
        <br />
        Unit:
        <select name="unit">
            <option value="meters">meters</option>
            <option value="centimeters">centimeters</option>
        </select>
        <br />
        <label for="height">Height:</label>
        <input type="text" id="height" name="height" required>
        <br />
        <label for="weight">Weight:</label>
        <input type="text" id="weight" name="weight" required>
        <br />
        <input type="submit" value="Submit">
        <br>
        <br>
    </div>
</form>